.card {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  gap: 20px;
  .cards__item {
    width: 350px;
    border-radius: 30px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 25px;
  }
  .cards__image {
    width: 60%;
  }
}


.grid {
  margin-top: 80px;
}
.prorucr_title {
  display: flex;
  align-items: center;
  flex-direction: column;
  h2 {
    font-size: 36px;
  }
  p {
    color: #538be2;
    font-size: 16px;
  }
}

.card__items {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  gap: 50px;
  // background-color: #538be2;
  align-items: center;
  div {
    display: grid;
    position: relative;
  }
  .icons_1 {
    position: absolute;
    top: 10px;
    right: 8px;
    width: 40px;
    height: 40px;
  }
    .icons_2 {
    position: absolute;
    top: 70px;
    right: 8px;
    width: 40px;
    height: 40px;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #f6f6f6;
    .images {
      width: 60%;
      padding: 20px;
    }
    .images__title {
      gap: 15px;
    }
    .image__star {
      flex-direction: row;
      display: flex;
      gap: 5px;
    }
    .image__strong {
      padding-top: 10px;
      display: flex;
      flex-direction: row;
      gap: 5px;
      font-size: 20px;
    }
  }
}

@media (max-width:1100px){
  .card{
    display: flex;
  }
  .card__item{
    padding: 30px;
  }
  .cards__image{
    width: 40%;
  }

}
@media (max-width:960px){
  .card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .card__item{
    padding: 30px;
  }
  .cards__image{
    width: 40%;
  }
  .card__items{
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    div{
      .images{
        width: 40%;
      }
    }
  }

}
@media (max-width:730px){
  .card{
    display: flex;
    flex-wrap: wrap;
    .cards__item{
      width: 90%;
      // background-color: rgb(83, 100, 100);
      .title{
        h2{
          font-size: 39px;
        }
        p{
          font-size: 25px;
        }
      }
    }
    .cards__image {
      width: 20%;
    }
   }
   .card__items{
    display: flex;
    flex-direction: column;
    // background-color: #538be2;
    padding: 20px;
    gap: 20px;
    div{
      width: 80%;
      align-items: center;
      justify-content: center;
      padding-bottom: 12px;
      .images{
        width: 35%;
      }
      .images__title {
        font-size: 20px;
        gap: 15px;
      }
      .image__star {
        flex-direction: row;
        display: flex;
        gap: 5px;
      }
      .image__strong {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        gap: 5px;
        font-size: 20px;
      }
    }
  }
}
