.footer{
    margin-top: 100px;
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    &__item{
        color: rgba(255, 255, 255, 0.747);
        display: flex;
        justify-content: center;
    }
}
